
.full-size {
  width: 100%;
  height: 100%;
}

.centerizer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

:host {
  background: blue;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-shadow: black 1px 1px 2px;
  width: 100%;
  height: 100%;
  z-index: -10000;
}

* {
  user-select: none;
  z-index: 100;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
